{% extends 'base.html.twig' %}
{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/register.css') }}">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="registration-form">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <div class="form-icon">
            <span><i class="icon icon-user"></i></span>
        </div>

        <h1 class="h3 mb-3 font-weight-normal">Connectez vous</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control item" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control item" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>

        <button class="btn btn-block next-step" type="submit">
            Se connecter
        </button>

        <a class="btn btn-block next-" href="{{ path('security_registration')}}">
            S'inscrire
        </a>
    </form>
</div>
{% endblock %}
