{{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="date pt-4">
        {{ form_widget(form.beginsAt) }}
        {{ form_widget(form.endsAt) }}
    </div>
    <div>
        {{ form_widget(form.totalOccupiers, {'attr': { 'class' : 'input-occupiers'}}) }}<i class="fa fa-user"></i>
    </div>
    <div class="product-btns">
        {% if app.user %}
            <button type="submit" class="product-add">Réserver</button>
        {% else %}
            <a href="{{ path('app_login') }}" class="product-add"> Veuillez vous connectez</a>
        {% endif %}
    </div>
    <div class="product-total">
        <h3>Prix total</h3>
        <p class=pt-0">a mdofier€</p>
    </div>
{{ form_end(form) }}