<div class="left">
    <div class="left-img-container">
        {% if app.user.picture %}
            <img src="/assets/img/user/{{ user.picture }}" class="left-img" alt="Avatar">
        {% else %}
            <img src="{{ asset('user/img/head.jpg') }}" class="left-img" alt="Avatar">
        {% endif %}
    </div>
    <div class="left-item text-center mt-2">
        <u>{{ app.user.firstName }}</u>
    </div>
    <div class="left-item mt-5">
        <a class="{{ setActive("user_info") }}{{ setActive("user_edit") }}" href="{{ path('user_info') }}">Infos
            personnelles</a>
    </div>
    <div class="left-item">
        <a class="{{ setActive("user_security") }}" href="{{ path('user_security') }}">Connexion et sécurité</a>
    </div>
    <div class="left-item">
        <a class="{{ setActive("user_notif") }}" href="{{ path('user_notif') }}">Notifications</a>
    </div>
    <hr class="mt-5 mr-0">

    {% if not is_granted('ROLE_ADMIN') %}
        {% if is_granted('ROLE_HOST') %}
            <div class="left-item font-weight-bold">
                <a class="{{ setActive("user_lodgings") }}" href="{{ path('user_lodgings') }}">Mes annonces</a>
            </div>
        {% endif %}
        <div class="left-item font-weight-bold">
            <a class="{{ setActive("user_bookings") }}" href="{{ path('user_bookings') }}">Mes réservations</a>
        </div>
        <div class="left-item font-weight-bold">
            <a class="{{ setActive("user_wishlist") }}" href="{{ path('user_wishlist') }}">Wishlist</a>
        </div>
    {% endif %}
</div>