<div class="left">
    <div class="left-img-container">
        <img src="./img/head.jpg" class="left-img">
        <div style="float: left;margin-left:100px;">
            <img src="./img/logo.png" style="height: 25px;width: 25px">
        </div>
    </div>
    <div class="left-item" style="text-align: center;margin-top: 20px;text-decoration: underline">
        {{ user.firstName }}
    </div>
    <div class="left-item" style="margin-top: 60px">
        <a class="{{ setActive("user_info") }}{{ setActive("user_edit") }}" href="{{ path('user_info') }}">Infos personnelles</a>
    </div>
    <div class="left-item">
        <a>Connexion et sécurité</a>
    </div>
    <div class="left-item">
        <a>Paiements et versements</a>
    </div>
    <div class="left-item">
        <a>Notifications</a>
    </div>
    <div class="left-line">
    </div>
    <div class="left-item" style="font-weight: bold">
        <a>Messages</a>
    </div>
    {% if not is_granted('ROLE_ADMIN') %}
        {% if is_granted('ROLE_EDITOR') %}
            <div class="left-item" style="font-weight: bold">
                <a href="{{ path('user_ads') }}">Mes annonces</a>
            </div>
        {% endif %}
        <div class="left-item" style="font-weight: bold">
            <a class="{{ setActive("user_bookings") }}" href="{{ path('user_bookings') }}">Mes réservations</a>
        </div>
        <div class="left-item" style="font-weight: bold">
            <a>Wishlist</a>
        </div>
    {% endif %}
</div>