{% block body %}
    <a href="{{ path('lodging_show', { 'id' : lodging.id, 'beginsAt' : beginsAt|default(""), 'endsAt' : endsAt|default("") }) }}">
        <div class="media grow js-marker" data-lat="{{ lodging.lat }}" data-lon="{{ lodging.lon }}"
             data-price="{{ lodging.nightPrice }}">
            <div class="fav-box"><i class="fa fa-heart-o" aria-hidden="true"></i>
            </div>
            <img class="d-flex align-self-start" src="/assets/img/lodging/{{ lodging.picture }}" alt="Lodging image">
            <div class="media-body pl-3">
                <div class="price">
                    {{ lodging.nightPrice }} €
                    <small>
                        {{ lodging.lodgingType }}
                        <div class="info d-inline-block ml-2">
                            <span> <i class="fa fa-arrows-alt"></i> {{ lodging.space }} m2</span>
                            <span> <i class="fa fa-user ml-1"></i> {{ lodging.capacity }}</span>
                        </div>
                    </small>
                </div>
                <div class="address">{{ lodging.fullAddress }}</div>
            </div>
        </div>
    </a>
{% endblock %}