<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="/"> <img src="{{ asset('assets/img/logo.png') }}" height="70px" width="70px" alt="logo"> </a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">

                <li><a href="/">Accueil</a></li>
                <li><a href="{{ path('lodging_search') }}">Carte</a></li>

                <li>
                    {% if app.user %}
                        <div class="dropdown">
                            <a type="button" class="dropdown-toggle" data-toggle="dropdown">
                                {{ app.user.firstName }}
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('user_info') }}">Compte</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('admin') }}">Back Office</a>
                                {% else %}
                                <a class="dropdown-item" href="{{ path('user_notif') }}">Notifications
                                        <small style="{{ app.user.getNotificationsNotSeen|length > 0 ? 'color: red' : '' }}">
                                            (<i class="fas fa-bell">{{ app.user.getNotificationsNotSeen|length }}</i>)
                                        </small></a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Deconnexion <i
                                            class="fas fa-sign-out-alt"></i></a>
                            </div>
                        </div>
                    {% else %}
                        <a href="{{ path('app_login') }}">Connexion</a>
                    {% endif %}
                </li>

            </ul>
        </div>

    </div>
</nav>