{{ form_start(form) }}


                            {% if not form.vars.valid %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form_errors(form.beginsAt) }}
                                    {{ form_errors(form.endsAt) }}
                                    {{ form_errors(form.visitors) }}
                                </div>
                            {% endif %}


<div class="row no-margin">
    <div class="col-md-10">
        <div class="row no-margin">
            <div class="col-md-4">
                <div class="form-group" id="search-box">
                    <span class="form-label">Location</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <span class="form-label">Arrivée</span>
                    {{ form_widget(form.beginsAt, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <span class="form-label">Départ</span>
                    {{ form_widget(form.endsAt, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <span class="form-label">Visiteurs</span>
                    {{ form_widget(form.visitors, {'attr': {'required': 'true', 'class' : 'form-control input-visitor', 'min' : 1 }}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-btn">
            <button type="submit" class="submit-btn">Rechercher</button>
        </div>
    </div>
</div>
{{ form_end(form) }}