<div class="top">
    <img src="{{ asset('user/img/topbanner.jpg') }}" class="top-bg">
    <div class="data-container">
        <div class="toprightlogo"><img onclick="window.location.href='{{ path('home')}}'" src='{{ asset('assets/img/logo.png') }}' style="height: 50px;width: 50px"></div>
        <div class="font-big" onclick="window.location.href='/'">
            Accueil
        </div>
        <div class="font-big" onclick="window.location.href='{{ path('lodging_search')}}'">
            Carte
        </div>
{#        <div class="font-big" onclick="window.location.href='{{ path('emailpage')}}'">#}
{#            test email page#}
{#        </div>#}
        <div>
            <el-dropdown>
                <el-button type="primary">
                    <i class="el-icon-s-unfold" style="font-size: 30px;margin-right: 5px;color: rgb(71,73,70)"></i><img src="{{ user.headimg }}" style="height: 25px;width: 25px">
                </el-button>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item><span class="dropdownitem" onclick="window.location.href='{{ path('user_info') }}'">Compte</span> </el-dropdown-item>
                    <el-dropdown-item>Notifications</el-dropdown-item>
                    <el-dropdown-item><span class="dropdownitem" onclick="window.location.href='{{ path('reservation') }}'">Voyages</span> </el-dropdown-item>
                    <el-dropdown-item>---------------</el-dropdown-item>
                    <el-dropdown-item><span class="dropdownitem" onclick="window.location.href='{{ path('app_logout') }}'">Deconnexion</span> </el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </div>
    </div>
</div>