{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ lodging.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css"/>
    <link rel="stylesheet" href="{{ asset('css/showLodging.css') }}"/>
{% endblock %}
{% block body %}

    </div>
    {{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="wrapper">
        <div class="card">
            <div class="product-left">
                <div class="header">
                    <h1>{{ lodging.name }}</h1>
                    <h2>{{ lodging.lodgingType }}</h2>
                </div>

                <div class="focus">
                    <span id="togg1">Description</span>
                    <span id="togg2">Reservation</span>
                </div>
                <!--DESCRIPITON / DETAILS-->
                <div class="product-main">

                    <div id="d1">
                        <p class="description">{{ lodging.description }}</p>
                        <div class="row justify-content-center">
                            <span class="mr-5">{{ lodging.capacity }} <i class="fa fa-user"></i></span>
                            <span >{{ lodging.space }}m² <i class="fa fa-arrows-alt"></i></span>
                            {% if lodging.internetAvailable %}
                                <span class="ml-5"><i class="fa fa-wifi"></i></span>
                            {% endif %}
                        </div>
                        <div class="product-total">
                            <h3>Prix/nuit</h3>
                            <p class=pt-0">{{ lodging.nightPrice }}€</p>
                        </div>
                    </div>
                    <div id="d2">
                        <div class="date pt-4">
                            {{ form_widget(form.beginsAt) }}
                            {{ form_widget(form.endsAt) }}
                        </div>
                        <div>
                            {{ form_widget(form.totalOccupiers, {'attr': { 'class' : 'input-occupiers'}}) }}<i class="fa fa-user"></i>
                        </div>
                        <div class="product-btns">
                            {% if app.user %}
                                <button type="submit" class="product-add">Réserver</button>
                            {% else %}
                                <a href="{{ path('app_login') }}" class="product-add"> Veuillez vous connectez</a>
                            {% endif %}
                        </div>
                        <div class="product-total">
                            <h3>Prix total</h3>
                            <p class=pt-0">750€</p>
                        </div>
                    </div>
                </div>
                <!--CHOOSE PRODUCT DETAILS-->
                <div class="product-details">

                    <!--PRODUCT TOTAL-->

                </div>
                <!-- ADD TO CART BUTTON -->

            </div>
            <div class="product-right">
                <img src="{{ lodging.picture }}" alt="">
            </div>
        </div>
    </div>
    {{ form_end(form) }}
>>>>>>> reservation


{% endblock %}

{% block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js"></script>



<script>
    var dateRanges {{ dates|json_encode|raw }};

  const picker = new Litepicker({
    element: document.getElementById('booking_beginsAt'),
    elementEnd: document.getElementById('booking_endsAt'),
    singleMode: false,
    numberOfMonths: 2,
    numberOfColumns:2,
    lang: "fr-FR",
    minDate: new Date(),
    resetButton: true,
    disallowLockDaysInRange: true,
    lockDays: dateRanges,
  });
</script>

    <script>
        let togg1 = document.getElementById("togg1");
        let togg2 = document.getElementById("togg2");
        let d1 = document.getElementById("d1");
        let d2 = document.getElementById("d2");

        togg1.addEventListener("click", () => {
            if(getComputedStyle(d1).display === "none"){
                d1.style.display = "block";
                togg1.style.borderBottom = "0.2rem solid #fff"
                d2.style.display = "none"
                togg2.style.borderBottom = "none"
            }

        })

        function togg(){
            if(getComputedStyle(d2).display === "none"){
                d2.style.display = "block";
                togg2.style.borderBottom = "0.2rem solid #fff"
                d1.style.display = "none"
                togg1.style.borderBottom = "none"
            }
        }

        togg2.onclick = togg
    </script>


{% endblock %}