{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css"/>
{% endblock %}
{% block body %}

<section class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-8 p-0"><img class="photo" src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?h=350&auto=compress&cs=tinysrgb" id="photo"></div> 
        <!-- src="\{\{ lodging.picture \}\}" -->
        <div class="row text-center justify-content-center col-8 infos">
            <div class="col-2 "><span><i class="fa fa-user font-weight-bold"></i><br> {{ lodging.capacity }}</span></div>
            <div class="col-2"><span><i class="fa fa-arrows-alt font-weight-bold"></i><br>  {{ lodging.space}} m2</span></div>
            <div class="col-2"><span><i class="fa fa-wifi font-weight-bold"></i><br>  {{ lodging.internetAvailable ? 'oui' : 'non' }} </span></div>
        </div>
        <div class="col-8 p-0">
            <p>RÉSERVER :</p>
        </div>
    </div>
</section>

     {{ form_start(form, {'attr': {'class': 'form'}}) }}

        {{ form_widget(form.beginsAt, {'attr': { 'class' : 'test'}}) }}
        {{ form_widget(form.endsAt, {'attr': { 'class' : 'test'}}) }}


        {% if app.user %}
        <button type="submit" class="btn btn-block">Réserver</button>
        {% else %}
        <a href="{{ path('app_login') }}" class="btn btn-block"> Vous devez vous connecter pour réserver</a>
        {% endif %}

     {{ form_end(form) }}



{% endblock %}

{% block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js"></script>



<script>
    var dateRanges {{ dates|json_encode|raw }};

  const picker = new Litepicker({
    element: document.getElementById('booking_beginsAt'),
    elementEnd: document.getElementById('booking_endsAt'),
    singleMode: false,
    numberOfMonths: 2,
    numberOfColumns:2,
    lang: "fr-FR",
    minDate: new Date(),
    resetButton: true,
    disallowLockDaysInRange: true,
    lockDays: dateRanges,
  });
</script>


{% endblock %}