{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ lodging.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css"/>
    <link href="{{ asset('css/showLodging.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}

    <div class="card card-custom-wide">
        <div class="card-custom-wide-img" style="background-image: url(/assets/img/lodging/{{ lodging.picture }});"></div>
        <div class="card-custom-avatar">
            {% if lodging.owner.picture %}
                <img class="img-fluid" src="/assets/img/user/{{ lodging.owner.picture }}" alt="Avatar" />
            {% else %}
                <img class="img-fluid" src="/user/img/user.png" alt="Avatar" />
            {% endif %}
        </div>
        <div class="card-body">
            <div class="lodging-desc">
                <h2 class="card-title">{{ lodging.name }}</h2>
                <p class="card-text"><i class="fas fa-map-marked-alt"></i> {{ lodging.fullAddress }}</p>
                <p class="card-text">{{ lodging.description }}</p>
                <hr>
            </div>
            <div class="lodging-info">
                <h4 class="card-info">Informations sur l'hébergements :</h4> <br>
                <p class="card-text"><i class="fas fa-arrows-alt"></i> {{ lodging.space }} m²</p>
                <p class="card-text"><i class="fas fa-user"></i> {{ lodging.capacity }} personne(s)</p>
                <p class="card-text"><i class="fas fa-wifi"></i> <i class="{{ lodging.internetAvailable ? "fas fa-check text-success" : "fas fa-times text-danger" }}"></i></p>
                <hr>
            </div>
            <div class="user-info">
                <h4 class="card-info">Informations sur le propriétaire :</h4> <br>
                <p class="card-text"><u>Nom:</u> {{ lodging.owner.lastName }}</p>
                <p class="card-text"><u>Prénom:</u> {{ lodging.owner.firstName }}</p>
                <p class="card-text"><u>Adresse email:</u> <a href="mailto:{{ lodging.owner.email }}">{{ lodging.owner.email }}</a></p>
                <p class="card-text"><u>Téléphone:</u> {{ lodging.owner.phone ? lodging.owner.phone : "indisponible" }}</p>
                <hr>
            </div>
            <div class="booking-info">
                <h4 class="card-info">Ma réservation :</h4> <br>
                <div class="container mt-4">
                    {% if app.user %}
                        {% if not is_granted('ROLE_HOST') %}
                            {% include 'includes/_bookingForm.html.twig' %}
                        {% endif %}
                    {% else %}
                        <div class="row justify-content-center">
                            <div class="text-center alert alert-danger col-md-4">
                                Merci de vous <a href="{{ path('app_login') }}">connectez</a> pour réserver
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% if not formBooking.vars.valid %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for child in formBooking.children %}
                                {% for error in child.vars.errors %}
                                    <li>{{ error.message }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <hr>
            <div class="comments">
                <h4 class="card-info">Commentaires sur ce logement :</h4> <br>
                <div class="container">
                    {% if canUserRate %}
                        {% include 'includes/_commentForm.html.twig' %}
                    {% endif %}
                    <div class="row">
                        <div class="col-12">
                            {% for comment in comments %}
                                {% include 'includes/_commentCard.html.twig' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js"></script>

<script>
    function dateDiff(date1, date2){
        date1 = new Date(date1.getFullYear(), date1.getMonth(), date1.getDate());
        date2 = new Date(date2.getFullYear(), date2.getMonth(), date2.getDate());
        var tmp = date2 - date1;

        return Math.floor((tmp / (1000*60*60*24))); //days
    }

    function calculeTotalPrice(picker, price){
        let totalPrice = dateDiff(picker.getStartDate(), picker.getEndDate()) * price;
        document.getElementById('price').innerHTML = totalPrice.toString()+" €";
    }

    let dateRanges = {{ dates|json_encode|raw }};

    const picker = new Litepicker({
        element: document.getElementById('booking_beginsAt'),
        elementEnd: document.getElementById('booking_endsAt'),
        singleMode: false,
        numberOfMonths: 2,
        numberOfColumns:2,
        lang: "fr-FR",
        minDate: new Date(),
        resetButton: true,
        disallowLockDaysInRange: true,
        lockDays: dateRanges,
        minDays: 2,

            setup: (picker) => {
                picker.on('hide', () => {
                    calculeTotalPrice(picker, {{ lodging.nightPrice }});
                });
                picker.on('show', () => {
                    calculeTotalPrice(picker, {{ lodging.nightPrice }});
                });
            },
    });


    /* COMMENT */
    $("input[type='radio']").click(function(){
        var sim = $("input[type='radio']:checked").val();
        //alert(sim);
        if (sim<3) { 
            $('.myratings').css('color','red'); 
            $(".myratings").text(sim); 
        }
        else{ 
            $('.myratings').css('color','green'); $(".myratings").text(sim); 
        }
    }); 
</script>

{% endblock %}