{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ lodging.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css"/>
    <link href="{{ asset('css/showLodging.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}

    <div class="card card-custom-wide">
        <div class="card-custom-wide-img" style="background-image: url(/assets/img/lodging/baseLodgingPicture.jpeg);"></div>
        <div class="card-custom-avatar">
            <img class="img-fluid" src="/user/img/user.png" alt="Avatar" />
        </div>
        <div class="card-body">
            <div class="lodging-desc">
                <h2 class="card-title">{{ lodging.name }}</h2>
                <p class="card-text"><i class="fas fa-map-marked-alt"></i> {{ lodging.fullAddress }}</p>
                <p class="card-text">{{ lodging.description }}</p>
                <hr>
            </div>
            <div class="lodging-info">
                <h4 class="card-info">Informations sur l'hébergements :</h4> <br>
                <p class="card-text"><i class="fas fa-arrows-alt"></i> {{ lodging.space }} m²</p>
                <p class="card-text"><i class="fas fa-user"></i> {{ lodging.capacity }} personne(s)</p>
                <p class="card-text"><i class="fas fa-wifi"></i> <i class="{{ lodging.internetAvailable ? "fas fa-check text-success" : "fas fa-times text-danger" }}"></i></p>
                <hr>
            </div>
            <div class="user-info">
                <h4 class="card-info">Informations sur le propriétaire :</h4> <br>
                <p class="card-text"><u>Nom:</u> {{ lodging.user.lastName }}</p>
                <p class="card-text"><u>Prénom:</u> {{ lodging.user.firstName }}</p>
                <p class="card-text"><u>Adresse email:</u> <a href="mailto:{{ lodging.user.email }}">{{ lodging.user.email }}</p></a>
                <hr>
            </div>
            <div class="booking-info">
                <h4 class="card-info">Ma réservation :</h4> <br>
                <div class="container mt-4">
                    {% if app.user %}
                        {% if not is_granted('ROLE_HOST') %}
                            {% include 'includes/_bookingForm.html.twig' %}
                        {% endif %}
                    {% else %}
                        <div class="row justify-content-center">
                            <div class="text-center alert alert-danger col-md-4">
                                Merci de vous <a href="{{ path('app_login') }}">connectez</a> pour réserver
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js"></script>



<script>
    let dateRanges = {{ dates|json_encode|raw }};

  const picker = new Litepicker({
    element: document.getElementById('booking_beginsAt'),
    elementEnd: document.getElementById('booking_endsAt'),
    singleMode: false,
    numberOfMonths: 2,
    numberOfColumns:2,
    lang: "fr-FR",
    minDate: new Date(),
    resetButton: true,
    disallowLockDaysInRange: true,
    lockDays: dateRanges,
  });
</script>

{% endblock %}