{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Modifier{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user.css') }}">

{% endblock %}

{% block body %}

    <div id="app">
    {% include 'includes/_userTop.html.twig' %}
    <div class="bottom">
        {% include 'includes/_leftPart.html.twig' %}
        <div class="right">
            <h2>Modifier votre profil</h2>

            {{ form_start(form) }}

            <div class="right-container">
                <div class="right-item">
                    <div class="line-throw">
                        <div class="item-top">Nom</div>
                        {{ form_widget(form.lastName) }}
                    </div>
                    <div class="line-throw">
                        <div class="item-top">Prenom</div>
                        {{ form_widget(form.firstName) }}
                    </div>
                </div>
                <div class="right-item">
                    <div class="item-top">Email</div>
                    {{ form_widget(form.email) }}
                </div>
                <div class="right-item">
                    <div class="item-top">Image <small>(attention l'image génère une erreur mais upload bien
                            l'img)</small></div>
                    {{ form_widget(form.pictureFile) }}
                </div>
                <div class="right-item">
                    <div class="item-top">Téléphone</div>
                    {{ form_widget(form.phone) }}
                </div>

                {% if not form.vars.valid %}
                    <div class="alert alert-danger mt-4 col-md-5">
                        <ul>
                            {% for child in form.children %}
                                {% for error in child.vars.errors %}
                                    <li>{{ error.message }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="btn-container">
                    <a href="{{ path("user_info") }}" class="btn btn-danger btn-profil">Annuler </a>
                    <button type="submit" class="btn btn-info btn-profil">Modifier</button>
                </div>

                {{ form_end(form) }}

                <div class="credit">
                    @ 2021 RESA,Inc.All rights reserved
                </div>
            </div>
        </div>
    </div>

{% endblock %}