{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Modifier son mot de passe {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user.css') }}">

{% endblock %}

{% block body %}

    <div id="app">
    {% include 'includes/_userTop.html.twig' %}
    <div class="bottom">
        {% include 'includes/_leftPart.html.twig' %}
        <div class="right">
            <h2>Modifier votre mot de passe</h2>

            {{ form_start(form) }}

            <div class="right-container">
                <div class="right-item">
                    <div class="line-throw">
                        <div class="item-top">Ancien mot de passe</div>
                        {{ form_widget(form.oldPassword) }}
                    </div>
                </div>

                <div class="right-item">
                    <div class="item-top">Nouveau mot de passe</div>
                    {{ form_widget(form.password.first) }}
                </div>

                <div class="right-item">
                    <div class="item-top">Répétez votre nouveau mot de passe</div>
                    {{ form_widget(form.password.second) }}
                </div>

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success mt-5 col-md-5">
                        {{ message }}
                    </div>
                {% endfor %}

                {% if not form.vars.valid %}
                    <div class="alert alert-danger mt-5 col-md-5">
                        <ul>
                            {{ form_errors(form.oldPassword) }}
                            {{ form_errors(form.password) }}
                        </ul>
                    </div>
                {% endif %}

                <div class="btn-container">
                    <a href="{{ path("user_info") }}" class="btn btn-danger btn-profil">Annuler </a>
                    <button type="submit" class="btn btn-info btn-profil">Modifier</button>
                </div>

                {{ form_end(form) }}

                <div class="credit">
                    @ 2021 RESA,Inc.All rights reserved
                </div>
            </div>
        </div>
    </div>

{% endblock %}