<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>EDIT</title>
  <script src="./js/vue.js"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <link href="{{ asset('css/user.css') }}" rel="stylesheet"/>
  <link href="{{ asset('css/useredit.css') }}" rel="stylesheet"/>

</head>
<body>
<div id="app">
  {% include 'includes/header.html.twig' %}
  <div class="bottom">
    {% include 'includes/userbox.html.twig' %}
    <div class="right">
      <h2>Bonjour, bienvenue dans votre compte !</h2>
      <div style="text-decoration: underline;margin-left: 30px;margin-top: 20px">
        <a href="{{ path('useredit')}}">Modifier le profll</a>
      </div>


      {{ form_start(form) }}
      <div class="right-item">

        <div class="noms">
          <div class="noms-item">
            <div class="item-top">Nom</div>
            {#              <input class="normalinput" id="lastName" name="lastName" type="text" value="{{ user.lastname }}"/>#}
            {{ form_widget(form.lastName, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}
          </div>
          <div class="noms-item">
            <div class="item-top">Prenom</div>
            {#              <input class="normalinput" id="firstName" name="firstName" type="text" value="{{ user.firstname }}"/>#}
            {{ form_widget(form.firstName, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}

          </div>
        </div>

        <div class="right-item">
          <div class="item-top">Sexe</div>
          {{ form_widget(form.sex, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}
        </div>

        <div class="right-item">
          {#          <div class="item-top">Date de naissance</div>#}
          {#          <input class="longinput"  id="birthday" name="birthday" type="text" value="{{ user.birthday }}"/>#}
          <div class="form-group">
            <div class="item-top">Date de naissance</div>
            {{ form_widget(form.birthday, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}
          </div>
        </div>
        <div class="right-item">
          <div class="item-top">Adresse e-mail</div>
          {#          <input class="longinput"  id="email" name="email" type="text" value="{{ user.email }}"/>#}
          {{ form_widget(form.email, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}
        </div>


        <div class="right-item">
          <div class="item-top">Téléphone</div>
          {#          <input class="longinput"  id="phone" name="phone" type="text" value="{{ user.phone }}"/>#}
          {{ form_widget(form.phone, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}
        </div>

        <div class="right-item">
          <div class="item-top">Address Pays</div>
          {{ form_widget(form.country, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}
        </div>

        <div class="right-item">
          <div class="item-top">Address Postale</div>
          <div class="item-bottom">{{ form_widget(form.avenue, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}</div>
        </div>
        <div class="right-item">
          <div class="item-top">Appartment,bàtiment(facultatif)</div>
          <div class="item-bottom">{{ form_widget(form.appartment, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}</div>
        </div>

        <div class="right-item">
          <div class="item-top">Code Pastale</div>
          <div class="item-bottom">{{ form_widget(form.code, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}</div>
        </div>
        <div class="right-item">
          <div class="item-top">Ville</div>
          <div class="item-bottom">{{ form_widget(form.city, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}</div>
        </div>
        <div class="right-item">
          <div class="item-top">Address</div>
          {{ form_widget(form.address, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}
        </div>
        <div class="opbuttons">
          <button class="cancel" onclick="cancel()">Annuler</button>
          <button type="submit" class="saveinfo">Enregistrer</button>
        </div>

      </div>
      {{ form_end(form) }}


      <div style="margin-top: 180px;margin-left: 60px;font-size: 18px">
        @ 2021 RESA,Inc.All rights reserved
      </div>
    </div>
  </div>
</div>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function() {
      return { visible: false }
    }
  })
</script>
</body>
</html>













{#{% extends 'base.html.twig' %}#}
{#{% block title %}{{ parent() }} | Modifier{% endblock %}#}
{#{% block stylesheets  %}#}
{#  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">#}
{#  <style>#}
{#    html,#}
{#    body {#}
{#      padding: 0;#}
{#      margin: 0;#}
{#    }#}

{#    .top {#}
{#      width: 100%;#}
{#      background: red;#}
{#      height: 300px;#}
{#      overflow: hidden;#}
{#      position: relative;#}
{#    }#}

{#    .top .top-bg {#}
{#      width: 100%;#}
{#      height: 400px;#}
{#    }#}

{#    .data-container {#}
{#      width: 600px;#}
{#      height: 80px;#}
{#      display: flex;#}
{#      align-items: center;#}
{#      justify-content: space-around;#}
{#      position: absolute;#}
{#      right: 0;#}
{#      top: 0#}
{#    }#}

{#    .data-container .el-button {#}
{#      width: 100px;#}
{#      height: 40px;#}
{#      border-radius: 20px;#}
{#      border-color: #fcfdfb;#}
{#      background: #fcfdfb;#}
{#      display: flex;#}
{#      align-items: center;#}
{#      padding: 0;#}
{#      justify-content: space-around;#}
{#    }#}

{#    .bottom {#}
{#      background: rgb(246, 246, 246);#}
{#      padding-top: 30px;#}
{#      height: 1300px;#}
{#      padding-left: 10%;#}
{#    }#}

{#    .left {#}
{#      margin: 0 50px;#}
{#      float: left;#}
{#      width: 300px;#}
{#      height: auto;#}
{#      border-radius: 40px;#}
{#      border: 1px solid rgb(216, 216, 216);#}
{#      text-align: center;#}
{#      padding: 40px 20px;#}
{#    }#}

{#    .left-img-container {#}
{#      display: inline-block;#}
{#      width: 180px;#}
{#      height: 180px;#}
{#      border-radius: 100px;#}
{#      overflow: hidden;#}
{#    }#}

{#    .left .left-item {#}
{#      margin-top: 35px;#}
{#      text-align: left;#}
{#    }#}

{#    .left .left-line {#}
{#      margin-top: 35px;#}
{#      width: 300px;#}
{#      margin-left: -20px;#}
{#      height: 1px;#}
{#      background: rgb(216, 216, 216);#}
{#    }#}

{#    .right {#}
{#      overflow: hidden;#}
{#    }#}

{#    .right-item {#}
{#      margin-top: 20px;#}
{#      margin-left: 60px;#}
{#      font-size: 20px;#}
{#      overflow: hidden;#}
{#    }#}

{#    .right-item .item-top {#}
{#      font-weight: bold;#}
{#      margin-bottom: 10px;#}
{#    }#}

{#    .right-item .el-input {#}
{#      width: 300px;#}

{#    }#}

{#    .el-input__inner {#}
{#      border-color: #cccccc;#}
{#    }#}

{#    .right-item .line-throw {#}
{#      float: left;#}
{#      margin-right: 40px;#}
{#    }#}

{#    .numberSelect {#}
{#      display: inline-block;#}
{#      height: 40px;#}
{#      line-height: 30px;#}
{#      color: #aaaaaa;#}
{#      margin-right: 5px;#}
{#      position: absolute;#}
{#      left: 7px;#}
{#      z-index: 999;#}
{#      border-right: 1px solid #cccccc;#}
{#      padding: 5px;#}
{#    }#}

{#    .numberSelect-container .el-input__inner {#}
{#      padding-left: 72px;#}
{#    }#}

{#    .btn-container {#}
{#      width: 50%;#}
{#      margin-top: 150px;#}
{#      display: flex;#}
{#      align-items: center;#}
{#      justify-content: space-around;#}
{#    }#}

{#    .left-img {#}
{#      width: 180px;#}
{#      height: 180px;#}
{#      display: flex;#}
{#      border-radius: 50%;#}
{#      align-items: center;#}
{#      justify-content: center;#}
{#      overflow: hidden;#}
{#    }#}

{#    .left .isActive{#}
{#      color: red;#}
{#      text-decoration: underline;#}
{#    }#}

{#    .left a{#}
{#      color: black;#}
{#    }#}
{#  </style>#}
{#{% endblock %}#}

{#{% block body %}#}

{#<div id="app">#}
{#  <div class="top">#}
{#    <img src="{{ asset('user/img/topbanner.jpg') }}" class="top-bg">#}
{#  </div>#}
{#  <div class="bottom">#}
{#    {% include 'includes/_leftPart.html.twig' %}#}
{#    <div class="right">#}
{#      <h2>Modifier votre profil</h2>#}

{#      {{ form_start(form) }}#}

{#      <div class="right-container">#}
{#        <div class="right-item">#}
{#          <div class="line-throw">#}
{#            <div class="item-top">Nom</div>#}
{#            {{ form_widget(form.lastName) }}#}
{#          </div>#}
{#          <div class="line-throw">#}
{#            <div class="item-top">Prenom</div>#}
{#            {{ form_widget(form.firstName) }}#}
{#          </div>#}
{#        </div>#}
{#        <!--<div class="right-item">#}
{#          <div class="item-top">sexe</div>#}
{#          <el-select v-model="sexe" placeholder="please">#}
{#            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">#}
{#            </el-option>#}
{#          </el-select>#}
{#        </div>#}
{#        <div class="right-item">#}
{#          <div class="item-top">date</div>#}
{#          <div class="line-throw">#}
{#            <div class="item-top" style="font-weight: normal">Jour</div>#}
{#            <el-select v-model="dateJour" placeholder="please">#}
{#              <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">#}
{#              </el-option>#}
{#            </el-select>#}
{#          </div>#}
{#          <div class="line-throw">#}
{#            <div class="item-top" style="font-weight: normal">Mois</div>#}
{#            <el-select v-model="dateMois" placeholder="please">#}
{#              <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">#}
{#              </el-option>#}
{#            </el-select>#}
{#          </div>#}
{#          <div class="line-throw">#}
{#            <div class="item-top" style="font-weight: normal">Annee</div>#}
{#            <el-select v-model="dateAnnee" placeholder="please">#}
{#              <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">#}
{#              </el-option>#}
{#            </el-select>#}
{#          </div>#}
{#        </div>-->#}
{#        <div class="right-item">#}
{#          <div class="item-top">email</div>#}
{#          {{ form_widget(form.email) }}#}
{#        </div>#}
{#        <!--<div class="right-item">#}
{#          <div class="item-top">numberSelect</div>#}
{#          <el-select v-model="numberSelect" placeholder="please">#}
{#            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">#}
{#            </el-option>#}
{#          </el-select>#}
{#          <div style="margin-top: 15px;position: relative" class="numberSelect-container">#}
{#            <span class="numberSelect">+33</span>#}
{#            <el-input v-model="numberValue" placeholder="please"></el-input>#}
{#          </div>#}
{#        </div>#}

{#        <div class="right-item">#}
{#          <div class="item-top">Adress</div>#}
{#          <div class="item-top" style="font-weight: normal">Pay</div>#}
{#          <el-select v-model="AdressePay" placeholder="please">#}
{#            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">#}
{#            </el-option>#}
{#          </el-select>#}
{#        </div>#}
{#        <div class="right-item">#}
{#          <div class="item-top" style="font-weight: normal">Adr</div>#}
{#          <el-input v-model="AdresseAdr" placeholder="please"></el-input>#}
{#        </div>#}
{#        <div class="right-item">#}
{#          <div class="item-top" style="font-weight: normal">Com</div>#}
{#          <el-input v-model="AdresseCom" placeholder="please"></el-input>#}
{#        </div>#}
{#        <div class="right-item">#}
{#          <div class="line-throw">#}
{#            <div class="item-top" style="font-weight: normal">Code</div>#}
{#            <el-input v-model="AdresseCode" placeholder="please"></el-input>#}
{#          </div>#}
{#          <div class="line-throw">#}
{#            <div class="item-top" style="font-weight: normal">Ville</div>#}
{#            <el-input v-model="AdresseCode" placeholder="please"></el-input>#}
{#          </div>#}
{#        </div>#}
{#      </div>-->#}
{#        {% for message in app.flashes('success') %}#}
{#          <div class="alert alert-success mt-5">#}
{#            {{ message }}#}
{#          </div>#}
{#        {% endfor %}#}

{#        <div class="btn-container">#}
{#          <a href="{{ path("user_info") }}" style="color: red;text-decoration: underline;cursor: pointer;">Annuler</a>#}
{#          <button type="submit" style="box-shadow: 8px 8px 12px #aaa;">Modifier</button>#}
{#        </div>#}

{#      {{ form_end(form) }}#}

{#      <div style="margin-top: 80px;margin-left: 60px;font-size: 18px">#}
{#        @ 2021 RESA,Inc.All rights reserved#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}

{#{% endblock %}#}