<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>EDIT</title>
  <script src="./js/vue.js"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <link href="{{ asset('css/user.css') }}" rel="stylesheet"/>
  <link href="{{ asset('css/useredit.css') }}" rel="stylesheet"/>

</head>
<body>
<div id="app">
  {% include 'includes/header.html.twig' %}
  <div class="bottom">
    {% include 'includes/userbox.html.twig' %}
    <div class="right">
      <h2>Bonjour, bienvenue dans votre compte !</h2>
      <div style="text-decoration: underline;margin-left: 30px;margin-top: 20px">
        <a href="{{ path('useredit')}}">Modifier le profll</a>
      </div>


      {{ form_start(form) }}
      <div class="right-item">

        <div class="noms">
          <div class="noms-item">
            <div class="item-top">Nom</div>
            {#              <input class="normalinput" id="lastName" name="lastName" type="text" value="{{ user.lastname }}"/>#}
            {{ form_widget(form.lastName, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}
          </div>
          <div class="noms-item">
            <div class="item-top">Prenom</div>
            {#              <input class="normalinput" id="firstName" name="firstName" type="text" value="{{ user.firstname }}"/>#}
            {{ form_widget(form.firstName, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}

          </div>
        </div>

        <div class="right-item">
          <div class="item-top">Sexe</div>
          {{ form_widget(form.sex, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}
        </div>

        <div class="right-item">
          {#          <div class="item-top">Date de naissance</div>#}
          {#          <input class="longinput"  id="birthday" name="birthday" type="text" value="{{ user.birthday }}"/>#}
          <div class="form-group">
            <div class="item-top">Date de naissance</div>
            {{ form_widget(form.birthday, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}
          </div>
        </div>
        <div class="right-item">
          <div class="item-top">Adresse e-mail</div>
          {#          <input class="longinput"  id="email" name="email" type="text" value="{{ user.email }}"/>#}
          {{ form_widget(form.email, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}
        </div>


        <div class="right-item">
          <div class="item-top">Téléphone</div>
          {#          <input class="longinput"  id="phone" name="phone" type="text" value="{{ user.phone }}"/>#}
          {{ form_widget(form.phone, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}
        </div>

        <div class="right-item">
          <div class="item-top">Address Pays</div>
          {{ form_widget(form.country, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}
        </div>

        <div class="right-item">
          <div class="item-top">Address Postale</div>
          <div class="item-bottom">{{ form_widget(form.avenue, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}</div>
        </div>
        <div class="right-item">
          <div class="item-top">Appartment,bàtiment(facultatif)</div>
          <div class="item-bottom">{{ form_widget(form.appartment, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}</div>
        </div>

        <div class="right-item">
          <div class="item-top">Code Pastale</div>
          <div class="item-bottom">{{ form_widget(form.code, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}</div>
        </div>
        <div class="right-item">
          <div class="item-top">Ville</div>
          <div class="item-bottom">{{ form_widget(form.city, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}</div>
        </div>
        <div class="right-item">
          <div class="item-top">Address</div>
          {{ form_widget(form.address, {'attr': {'required': 'true', 'class' : 'form-control'}}) }}
        </div>
        <div class="opbuttons">
          <button class="cancel" onclick="cancel()">Annuler</button>
          <button type="submit" class="saveinfo">Enregistrer</button>
        </div>

      </div>
      {{ form_end(form) }}


      <div style="margin-top: 180px;margin-left: 60px;font-size: 18px">
        @ 2021 RESA,Inc.All rights reserved
      </div>
    </div>
  </div>
</div>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function() {
      return { visible: false }
    }
  })
</script>
</body>
</html>

