<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="{{ asset('css/email.css') }}" rel="stylesheet"/>
</head>
<body>
<div class="emailcontent">
<div class="emailhead">
    <img onclick="window.location.href='{{ path('home')}}'" src='{{ asset('assets/img/logo.png') }}' class="imgmiddle"/>
    <h1 class="h1middle">Votre réservation est confirmée</h1>
</div>
<div class="nous">
    Nous avons le plaisir de vous confirmer l'enregistrement de votre réservation {{ booking.id }}, et nous vous remercions de votre confiance.
</div>
<div>
    <h2>{{ booking.lodging.name }}</h2>
    <div class="details">Arrivée : {{ booking.beginsAt|date("d/m/Y") }}  <span class="departure">Départ : {{ booking.endsAt|date("d/m/Y") }}</span> </div>
    <div class="details">Adresse : {{ booking.lodging.fullAddress }}</div>
    <div class="details">Appartement:  {{ booking.lodging.lodgingType }}  - {{ booking.lodging.capacity }}	</div>
    <div class="details">Code de réservation : {{ booking.id }}</div>
    <div></div>
</div>
<div>
    <div class="regards">Cordialement,</div>
    <div class="regards">Equipe Resa</div>
</div>
</div>

</body>
</html>