{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mon compte{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user.css') }}">
{% endblock %}

{% block body %}
    <div id="app">
        {% include 'includes/_userTop.html.twig' %}
        <div class="bottom">
            {% include 'includes/_leftPart.html.twig' %}
            <div class="right">
                <h2>Bonjour, {{ user.firstName }} !</h2>
                <div class="right-container">
                    <div class="right-item">
                        <div class="item-top">Nom</div>
                        <div class="item-bottom">{{ user.lastName }}</div>
                    </div>
                    <div class="right-item">
                        <div class="item-top">Prenom</div>
                        <div class="item-bottom">{{ user.firstName }}</div>
                    </div>

                    <div class="right-item">
                        <div class="item-top">Adresse e-mail</div>
                        <div class="item-bottom">{{ user.email }}</div>
                    </div>
                    <div class="right-item">
                        <div class="item-top">Téléphone</div>
                        <div class="item-bottom">{{ user.phone }}</div>
                    </div>

                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success mt-5 col-md-5 text-center">
                            {{ message }}
                        </div>
                    {% endfor %}

                    <a href="{{ path('user_edit') }}">
                        <button class="btn btn-info btn-update btn-profil">Modifier
                        </button>
                    </a>
                </div>
                <div class="credit">
                    @ 2021 RESA,Inc.All rights reserved
                </div>
            </div>
        </div>
    </div>
{% endblock %}


